# Lane-E Line-MSHR capacity sensitivity: D512 / B0-Banked / 850 MHz.
# Relative to b0_banked_d512_850.config, the sole modeled change is A:128 ->
# A:256 in the L2 Line-MSHR entry field.
-gpgpu_adaptive_cache_config 0
-gpgpu_ep_l2_assert_fixed_l1_assoc 1
-gpgpu_cache:dl1 S:4:128:128,L:T:m:L:L,A:512:8,16:0,32
-gpgpu_l1_banks 4
-gpgpu_l1_latency 20
-gpgpu_cache:dl2 S:64:128:16,L:B:m:L:P,A:256:1,128:0,32
-gpgpu_ep_l2_descriptor_pool_size 512
-gpgpu_ep_l2_descriptor_per_line_cap 32
-gpgpu_ep_l2_wad_entries 128
-gpgpu_ep_l2_payload_mode 2
-gpgpu_dram_partition_queues 64:128:64:64
-gpgpu_frfcfs_dram_sched_queue_size 128
-gpgpu_dram_return_queue_size 192
-gpgpu_clock_domains 1132.0:1132.0:1132.0:850.0
