-gpgpu_vm_mode 0
-gpgpu_l2_oracle_elastic_qweight_enable 1
-gpgpu_l2_oracle_elastic_protected_quota_bytes 16777216
-gpgpu_l2_oracle_elastic_protected_quota_lines 0
-gpgpu_l2_oracle_elastic_interval_sidecar /root/workspace/accel-sim-framework-c16-e1-trace-address-namespace-integration-174new-v1/docs/vm_tlb/review_packs/C16_E1_TRACE_ADDRESS_NAMESPACE_INTEGRATION_174NEW_V1/ORACLE_QWEIGHT_L2_SIDECAR.tsv
-gpgpu_l2_oracle_elastic_sidecar_sha256 6c60839714d136b9f6f596218588e658e245e0b7cc6f8e8550cce8d683ce13c6
-gpgpu_l2_oracle_elastic_diagnostics 1
-gpgpu_l2_oracle_address_canary_log /root/c16_address_canary_l14/address_chain.tsv
-gpgpu_l2_oracle_address_canary_target_limit 1
-gpgpu_l2_oracle_address_canary_exact_address 139264415236384
