# SG1 B16-N whole-line conventional control.
# Invoke after frozen configs/dtc_l1/fast64/FAST64_BASE.config.
# The only semantic change from B16-S is cache type S -> N.  Geometry remains
# 32 sets x 4 ways x 128 B = 16 KiB; all other fields are inherited.
-gpgpu_cache:dl1 N:32:128:4,L:T:m:L:L,A:512:8,16:0,32
-gpgpu_cache:dl1PrefL1 N:32:128:4,L:T:m:L:L,A:512:8,16:0,32
-gpgpu_cache:dl1PrefShared N:32:128:4,L:T:m:L:L,A:512:8,16:0,32
