-gpgpu_vm_object_map /root/workspace/accel-sim-framework-awma-first-current-model-replay-174new-v1/outputs/current_model_runtime/object-map.tsv
-gpgpu_vm_weight_segment_map /root/workspace/accel-sim-framework-awma-first-current-model-replay-174new-v1/outputs/current_model_runtime/segment-map.tsv
-gpgpu_max_cycle 10000
