-gpgpu_l2_c16_survival_observer_enable 1
-gpgpu_l2_c16_survival_observer_log SURVIVAL_OBSERVER_OUTPUT.tsv
-gpgpu_l2_c16_survival_observer_target_class 1
-gpgpu_l2_c16_survival_snapshot_after_uid 60
-gpgpu_l2_c16_survival_d2_begin_uid 1564
-gpgpu_l2_c16_survival_d2_mid_uid 1565
-gpgpu_l2_c16_survival_d2_end_uid 1565
